.serc__wrap {
    margin-top: 100px;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 50px 0;
    border-radius: 25px;
    .once{
      border-right: 1px solid #D7D7DD;
    }
    .second{
      border-right: 1px solid #D7D7DD;
    }
    .card__img{
      cursor: pointer;
      transition: .5s;
      &:hover{
        transform: scale(1.03);
      }
    }
    .serc__card {
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-direction: column;
      padding: 0 65px;
  
      b {
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: #363738;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #6B6B6C;
        margin-top: 16px;
      }
    }
  }
  @media (max-width:960px) {
     .serc__wrap {
    margin-top: 100px;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 25px;
    flex-direction: column;
    gap: 30px;
    .once{
      border-right: 1px solid #D7D7DD;
    }
    .second{
      border-right: 1px solid #D7D7DD;
    }
    .serc__card {
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-direction: row;
      padding: 0 65px;
      .serc__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
  
        b {
          color: #363738;
          font-size: 24px;
          font-weight: 500;
        }
        p {
          color: #6B6B6C;
        }
      }
    }
  }
  }
  @media (max-width:560px) {
     .serc__wrap {
    margin-top: 100px;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5px;
    border-radius: 25px;
    flex-direction: column;
    gap: 30px;
    .once{
      border-right: 1px solid #D7D7DD;
    }
    .second{
      border-right: 1px solid #D7D7DD;
    }
    .serc__card {
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-direction: column;
      padding: 0 65px;
      .serc__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
  
        b {
          color: #363738;
          font-size: 24px;
          font-weight: 500;
        }
        p {
          color: #6B6B6C;
        }
      }
    }
  }
  }
  